*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
}

img {
   max-width: 100%;
   height: auto;
}

body {
   font-family: 'Jost', Arial, Helvetica sans-serif;
   font-size: 18px;
   font-weight: normal;
   line-height: 1.3;
<<<<<<< HEAD
   color: black;
<<<<<<< HEAD
=======
=======
>>>>>>> afc00a9 (Updated)
   text-align: justify;
<<<<<<< HEAD
>>>>>>> 1cf523e (Update)
=======
   background: linear-gradient(to right, #fff6fe 0%, #fff 50%, #f6efef 100%);
>>>>>>> 37e426c (Updated portfolio)
}

.container {
   margin: 0 auto;
   padding: 0 3rem;
}

/* navigation style   */

header {
   display: none;
}

.header_info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: linear-gradient(to bottom, #efeff6 0%, #fff 50%, #f6efef 100%);
}

main {
   display: flex;
   width: 100%;
   position: relative;
}

.logo {
   font-family: 'Oleo Script', cursive, Arial, Helvetica sans-serif;
   text-transform: uppercase;
   font-size: 3rem;
   display: block;
   position: relative;
   font-weight: bold;
}

.dot {
   display: block;
   border-radius: 50%;
   width: 10px;
   height: 10px;
   background-color: red;
   position: absolute;
   top: 75%;
   right: -16%
}

.logo span,
.decoration a {
<<<<<<< HEAD
=======
.decoration a  {
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
   color: #3e273e;
}

.nav_info {
   display: flex;
   justify-content: center;
}

.nav_info li {
   margin: 0 15px;
}

/* aside style */

aside {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
   /*  display: none;*/
<<<<<<< HEAD
=======
 /*  display: none;*/
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
=======
>>>>>>> 37e426c (Updated portfolio)
   width: 25%;
   background: linear-gradient(to right, #dad3e4 0%, #fff 50%, #f1e1f5 100%);
=======
   width: 30%;
=======
   width: 25%;
>>>>>>> 63f5e02 (Updated)
   position: relative;
   background: linear-gradient(to right, #dad3e4 0%, rgb(238, 233, 233) 50%, #f1e1f5 100%);
   display: flex;
}

#close-btn {
   width: 4rem;
   height: 2rem;
   outline: none;
   border: 1px solid whitesmoke;
   background-color: white;
   border-radius: 12px;
   position: fixed;
   top: 4%;
   left: 23%;
   bottom: 0;
   font-size: 1rem;
   box-shadow: 0px 0px 3px rgb(157, 142, 142) ;
}

.icons {
   position: fixed;
   top: 0;
   left: 24%;
   bottom: 0;
}
.icons ul li {
   margin: 0;
   padding: 0;
   padding-top: 100px;
}

.icons ul li span {
    width: 20px;
    height: 6px;
    background-color: #fff6fe ;
    display: inline-block;
    transform: rotate(20deg);
>>>>>>> afc00a9 (Updated)
}

.sidebar {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
   position: fixed;
   top: 0;
   left: 7%;
   bottom: 0;
}

.aside_vertical {
   width: 2rem;
   height: 2rem;
   background-repeat: repeat-y;
}

<<<<<<< HEAD
.aside_img,
.aside_img_secong,
.aside_img_third {
   width: 3rem;
   height: 3rem;
   position: absolute;
   z-index: 1;
   left: 23%;
   position: fixed;
}

.aside_img {
   top: 15%;
}

.aside_img_secong {
   bottom: 15%;
}

.aside_img_third {
   top: 50%;
<<<<<<< HEAD
=======
.aside_img_third {
top: 50%;
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
}

=======
>>>>>>> afc00a9 (Updated)
.nav_aside_style {
   padding: 0;
   font-size: 1.5rem;
   height: 100%;
}

.decoration li {
   margin: 18px 0;
   letter-spacing: 3px;
   text-align: center;
}

.decoration a:hover {
   color: rgb(71 158 37);
}

.decoration img {
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
}

/*main_content*/


.main_content {
   width: 75%;
<<<<<<< HEAD
   /* position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
<<<<<<< HEAD
   background: linear-gradient(to right, #fff6fe 0%, #fff 50%, #f6efef 100%);
<<<<<<< HEAD
=======
/*main_content*/ 

.main_content {
width: 75%;
position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff6fe 0%, #fff 50%, #f6efef 100%);
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
=======
   left: 25%; */
>>>>>>> 37e426c (Updated portfolio)
=======
>>>>>>> 21a9cc2 (Updated)
}

#home,
#about,
#services,
#resume,
#portfolio,
#client,
#contact {
   height: 100vh;
   /* border: 1px solid black; */
}

.main_page{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   height: 100%;
}

.main_header {
   width: 50%;
   margin: 10rem 4rem;
}

.self_rep {
   font-size: 5rem;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   line-height: 4.5rem;
   margin: 2rem 0;
}

.self_rep_line,
.line {
   display: block;
   background-color: #e00000;
   border-radius: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
.self_text {
   text-align: justify;
}

>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
.main_img {
=======
.main_image img {
=======
.self_rep_line {
   width: 70%;
   height: 3%;
}

.self_text {
   margin-top: 2rem;
   line-height: 2rem;
   font-size: 1.3rem;
}

.self_text,
.about_text,
.services_info_style p,
.resume-add-text,
.p_nav a,
.git-pi span{
   color: #766f77;
}


<<<<<<< HEAD
/* .main_image img {
>>>>>>> afc00a9 (Updated)
   z-index: -1;
>>>>>>> 21a9cc2 (Updated)
   display: block;
   position: absolute;
   top: 30%;

} */

=======
>>>>>>> a863d30 (Make some changes)
.header_style {
   margin-bottom: 4rem;
   position: relative;
   align-self: center;
}

.header_style h3 {
   font-size: 6rem;
   top: -19px;
   text-transform: uppercase;
   color: #e9dee9;
   position: absolute;
   z-index: -1;
   left: 19%;
   margin: 0;
}

.header_style h2 {
   font-size: 3rem;
   margin: 0;
   text-transform: uppercase;
   
}

.line {
   width: 70%;
   height: 7px;
   margin: 1rem auto auto auto;
}

.about_infomation {
   display: flex;
   width: 100%;
}

.introduce {
   width: 35%;
   border-radius: 4px;
   padding: 1rem;
   /* transition: all 1s ease-in; */
}

/* .introduce:hover {
   transform: scaleY(1.5)  scaleX(1);

} */

.block_style,
.button_cv,
.git_button {
   border: 1px solid #d1d0da;
   box-shadow: 1px 1px 38px #c1beb7;
}

.block_style {
   border-radius: 4px;
}

.introduce ul {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   margin: 0;
}

.introduce li {
   display: block;
   margin: 1rem 0;
}

.introduce span {
   display: inline-block;
}

.introduce_block {
   align-self: center;
}

.about_text {
   margin-top: 0;
}

.introduce_block {
   width: 55%;
   margin-left: 3rem;
   line-height: 2rem;
}

.button_cv {
   display: block;
   margin-top: 2rem;
   width: 30%;
   height: 15%;
   padding: 7px;
   border-radius: 40px;
   font-size: 19px;
   font-weight: bold;
   text-align: center;
   letter-spacing: 2px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4e1328e (Add updated portfolio)
}
=======
}
>>>>>>> 1cf523e (Update)
=======
}

.git_button,
.button_cv  {
   color: #e00000;
   background: linear-gradient(to right, #947eb3 0%, rgb(237 221 233) 50%, #826a88 100%);
}

/* section_services */

.services_info,
.summary_block {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   color: #7b5c7b;
}


.services_info_style h3 {
   color: black;
}

.services_info_style {
   flex-basis: 40%;
   padding: 2rem;
   margin: 1rem;
}

.services_info_style p {
   margin-top: 1rem;
}


.services_num,
.year {
   background-color: #3e273e;
   color: white;
   border-radius: 5px;
}

<<<<<<< HEAD
}
>>>>>>> 37e426c (Updated portfolio)
=======
.services_num {
   padding: 10px 15px;
   margin-right: 10px;
}

.summary_block {
   color: #3c2e3c
}

.summary_info {
   flex-basis: 45%;
   padding: 1rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
   background: #fbfafc
}

.summary_header {
   flex-basis: 45%;
}

.summary_header_style {
   font-size: 1.5rem;
   margin: 0 0 1rem 1rem;
   padding: 0;
}

.year {
   font-size: 15px;
   padding: 4px 9px;
}
<<<<<<< HEAD
>>>>>>> 21a9cc2 (Updated)
=======

.works-nav {
   align-self: center;
   margin-bottom: 3rem;
}

.p_nav {
   display: flex;
   gap:10px;
   align-items: center;
   justify-content: center;
}

.p_nav a {
   margin-right: 1rem;
   font-size: 14px;
}

.p_nav a:hover {
   border-bottom: 2px solid rgb(80, 62, 80);

}

.p_nav li {
   border-right: 1px solid grey;
}
<<<<<<< HEAD
>>>>>>> 57ede0f (Updated)
=======

.p_nav li:last-child {
   border: none;
}

/*resume */
.resume_list  {
   width: 100%;
}

.resume_list li {
   font-size: 15px;
   margin: 0;
   border-bottom: 1px solid #e5e5e5;
   padding: 15px 0 20px;
   cursor: pointer;
   width: 100%;
   transition: all .5s ease;
}

.resume-info span{
   width: 32.3333%;
   display: inline-block;
}

.resume-middle-text {
   text-align: center;
   font-weight: bold;
}

.right-text {
   text-align: right;
}

.works-present {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 10px;
}

.works-present a {
   width: 31.33%;
   height: 45%;
   display: block;
   position: relative;

}

.works-present img,
.project-name {
   border-radius: 8px;
}

.works-present img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
   display: block;
}

.project-name {
   background-color: rgba(0, 0, 0, .7);
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: white;
   text-align: center;
   font-family:'Courier New', Courier, monospace;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform: scaleY(0);
   transform-origin: top;
   transition: all 0.5s ease;
}


.works-present a:hover > .project-name{
   transform: scale(1);

} 

.works-present a:hover > img{
filter: blur(5px);
-webkit-filter: blur(5px)

} 


/* get in touch */

.git {
   display: grid;
   grid-template-columns: 1fr 2fr;
   gap: 4rem;
   min-height: 400px;
   align-self:center;
   font-size: 15px;
}


.git-form,
.git-pi {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

.git-pi span {
   text-transform: uppercase;
}
.git-pi span:last-child {
  text-transform: none;
  text-decoration:underline;
}

.git-pi p {
   font-weight: bold;
   font-size: 16px;
}

.git-style {
   padding: 10px;
}

.git_button {
   border-radius: 4px;
}
>>>>>>> 686ea53 (Updated)
