*,
*::after,
*::before {
   box-sizing: border-box;
}

img {
   max-width: 100%;
   height: auto;
}

body {
   font-family: 'Jost', Arial, Helvetica sans-serif;
   font-size: 18px;
   font-weight: normal;
   line-height: 1.3;
   color: black;
<<<<<<< HEAD
=======
   text-align: justify;
<<<<<<< HEAD
>>>>>>> 1cf523e (Update)
=======
   background: linear-gradient(to right, #fff6fe 0%, #fff 50%, #f6efef 100%);
>>>>>>> 37e426c (Updated portfolio)
}

.container {
   margin: 0 auto;
   padding: 0 3rem;
}

/* navigation style   */

header {
   display: none;
}

.header_info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: linear-gradient(to bottom, #efeff6 0%, #fff 50%, #f6efef 100%);
}

main {
   display: flex;
   width: 100%;
}

.logo {
   /* font-family: 'Oleo Script Swash Caps', cursive, Arial, Helvetica sans-serif; */
   /* text-transform: uppercase; */
   font-size: 3rem;
   display: block;
   position: relative;
   font-weight: bold;
}

.dot {
   display: block;
   border-radius: 50%;
   width: 10px;
   height: 10px;
   background-color: red;
   position: absolute;
   top: 75%;
   right: -16%
}

.logo,
.nav_info a,
.social_info a,
.decoration a {
   text-decoration: none;
}

.logo span,
.decoration a {
<<<<<<< HEAD
=======
.decoration a  {
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
   color: #3e273e;
}

.nav_info,
.decoration {
   list-style: none;
}

.nav_info {
   display: flex;
   justify-content: center;
}

.nav_info li {
   margin: 0 15px;
}

/* aside style */

aside {
<<<<<<< HEAD
   /*  display: none;*/
<<<<<<< HEAD
=======
 /*  display: none;*/
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
=======
>>>>>>> 37e426c (Updated portfolio)
   width: 25%;
   background: linear-gradient(to right, #dad3e4 0%, #fff 50%, #f1e1f5 100%);
}

.sidebar {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 100%;
   position: fixed;
   top: 0;
   left: 8%;
   bottom: 0;
}

.aside_vertical {
   width: 2rem;
   height: 2rem;
   background-repeat: repeat-y;
}

.aside_img,
.aside_img_secong,
.aside_img_third {
   width: 3rem;
   height: 3rem;
   position: absolute;
   z-index: 1;
   left: 23%;
   position: fixed;
}

.aside_img {
   top: 15%;
}

.aside_img_secong {
   bottom: 15%;
}

.aside_img_third {
   top: 50%;
<<<<<<< HEAD
=======
.aside_img_third {
top: 50%;
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
}

.nav_aside_style {
   padding: 0;
   font-size: 1.5rem;
   height: 100%;
}

.decoration li {
   margin: 18px 0;
   letter-spacing: 3px;
   text-align: center;
}

.decoration a:hover {
   color: rgb(71 158 37);
   font-weight: bold;
}

.decoration img {
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
}

/*main_content*/


.main_content {
   width: 75%;
<<<<<<< HEAD
   /* position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
<<<<<<< HEAD
   background: linear-gradient(to right, #fff6fe 0%, #fff 50%, #f6efef 100%);
<<<<<<< HEAD
=======
/*main_content*/ 

.main_content {
width: 75%;
position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff6fe 0%, #fff 50%, #f6efef 100%);
>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
=======
   left: 25%; */
>>>>>>> 37e426c (Updated portfolio)
=======
>>>>>>> 21a9cc2 (Updated)
}

/* #home {
   height: 100%;
}


.main_page {
   height: 100%;
}
 */

.main_header {
   width: 40%;
   margin: 10rem 4rem;
}

.self_rep {
   font-size: 5rem;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   line-height: 4.5rem;
   margin: 2rem 0;
}

.self_rep_line {
   display: block;
   width: 100%;
   height: 12px;
   background-color: red;
   border-radius: 10px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
.self_text {
   text-align: justify;
}

>>>>>>> 4e1328e (Add updated portfolio)
=======
>>>>>>> 1cf523e (Update)
.main_img {
=======
.main_image img {
   z-index: -1;
>>>>>>> 21a9cc2 (Updated)
   display: block;
   position: absolute;
   top: 30%;

}

.header_style {
   position: relative;
}

.header_style h3 {
   font-size: 6rem;
   top: 0;
   text-transform: uppercase;
   color: #e9dee9;
   position: absolute;
   z-index: -1;
   left: 19%;
   margin: 0;
}

.header_style h2 {
   font-size: 3rem;
   text-align: center;
   margin-bottom: 0;
}

.line {
   display: block;
   width: 20%;
   height: 7px;
   background-color: #e00000;
   border-radius: 10px;
   margin: auto;
}

.about_infomation {
   display: flex;
   width: 100%;
   margin-top: 8rem;
}

.introduce {
   width: 35%;
   border-radius: 4px;
   padding: 20px;
}

.block_style,
.button_cv {
   border: 1px solid #aba9c3;
   box-shadow: 1px 1px 5px #aba9c3;
}

.block_style {
   border-radius: 4px;
}

.introduce ul {
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 100%;
   margin: 0;
}

.introduce li {
   display: block;
   list-style: none;
   margin: 1rem 0;
}

.introduce span {
   display: inline-block;
}

.about_text {
   color: #76657a;
   margin-top: 0;
}

.introduce_block {
   width: 55%;
   margin-left: 3rem;
   line-height: 2rem;
}

.button_cv {
   display: block;
   background: #60648b;
   width: 35%;
   border-radius: 40px;
   padding: 8px;
   text-decoration: none;
   color: white;
   font-size: 23px;
   text-align: center;
   letter-spacing: 2px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4e1328e (Add updated portfolio)
}
=======
}
>>>>>>> 1cf523e (Update)
=======
}

/* section_services */

.services_info,
.summary_block {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 2rem;
   color: #7b5c7b;
}


.services_info_style h3 {
   color: black;
}

.services_info_style {
   flex-basis: 40%;
   padding: 2rem;
   margin: 1rem;
}


.services_num,
.year {
   background-color: #3e273e;
   color: white;
   border-radius: 5px;
}

<<<<<<< HEAD
}
>>>>>>> 37e426c (Updated portfolio)
=======
.services_num {
   padding: 10px 15px;
   margin-right: 10px;
}

.summary_block {
   margin-top: 4rem;
   color: #3c2e3c
}

.summary_info {
   flex-basis: 45%;
   padding: 1rem;
   margin-left: 1rem;
   margin-bottom: 1rem;
   background: #efedf8
}

.summary_header {
   flex-basis: 45%;
}

.summary_header_style {
   font-size: 1.5rem;
   margin: 0 0 1rem 1rem;
   padding: 0;
}

.year {
   font-size: 15px;
   padding: 4px 9px;
}
>>>>>>> 21a9cc2 (Updated)
