@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@500;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap");

#about-scene {
  display: block;
  position: relative;
  z-index: -1;
}

#mountains {
  height: 100%;
  background: url(../images/about-me/mountains.png);
  background-size: cover;
}

#city-panorama {
  height: 100%;
  max-height: 52%;
  background: url(../images/about-me/city-panorama.png) repeat-x;
  background-size: contain;
  top: 35%;
}

#front-city {
  height: 100%;
  max-height: 37%;
  background: url(../images/about-me/greenroadCity.png) repeat-x;
  background-size: contain;
  bottom: 9%;
}

#park {
  height: 100%;
  max-height: 50%;
  background: url(../images/about-me/front-road-elements.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#grass {
  height: 100%;
  background: url(../images/about-me/grass.png) repeat-x;
  background-size: contain;
  bottom: -93%;
}

#about-billboards {
  height: 100%;
  max-height: 66%;
  width: 100%;
  position: relative;
  bottom: -26%;
}

.img-set {
  height: 100%;
  object-fit: contain;
  position: absolute;
}

#about-billboard-1-arrow {
  left: -2%;
}

#about-billboard-2-girl {
  width: 84%;
  left: 90%;
  bottom: -7%;
}

#about-billboard-3-girl {
  left: 180%;
  bottom: -3%;
}

#about-billboard-4-balloon {
  left: 268%;
  bottom: -3%;
}

#about-billboard-5-butterfly {
  left: 343%;
  bottom: 0%;
}

#about-road {
  height: 100%;
  max-height: 30%;
  bottom: -5%;
  position: relative;
}

.road-cones {
  position: absolute;
  height: 100%;
  max-height: 36%;
  left: 28%;
  bottom: 9%;
}

.road-closed {
  position: absolute;
  height: 69%;
  left: 511%;
  bottom: 17%;
}

#grass {
  height: 100%;
  max-height: 7%;
  background: url(../images/about-me/grass.png) repeat-x;
  background-size: contain;
  bottom: 1%;
}
