
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda:wght@500;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap');

#about-scene {
  display: block;
  position: relative;
  z-index: -1;
}

#mountains {
  height: 100%;
  background: url(../images/about-me/mountains.png) center/cover;
}

#city-panorama {
  height: 100%;
  max-height: 52%;
  background: url(../images/about-me/city-panorama.png) repeat-x;
  background-size: contain;
  top: 35%;
}

#front-city {
  height: 100%;
  max-height: 37%;
  background: url(../images/about-me/greenroadCity.png) repeat-x;
  background-size: contain;
  bottom: 9%;
}

#park {
  height: 100%;
  max-height: 50%;
  background: url(../images/about-me/front-road-elements.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#grass {
  height: 100%;
  background: url(../images/about-me/grass.png) repeat-x;
  background-size: 40em;
  bottom: -93%;
}

#about-billboards {
  height: 100%;
  max-height: 66%;
  position: relative;
  bottom: -26%;
}

#about-billboard-1 {
  position: relative;
  height: 100%;
  max-height: 100%;
  background: url(../images/about-me/billboard-1/billboard.png) no-repeat;
  background-size: contain;
  position: relative;
}

#about-billboard-1-arrow {
  height: 12%;
  position: absolute;
  top: 48%;
  left: 15%;
}

#about-billboard-2 {
  height: 100%;
  max-height: 57%;
  background: url(../images/about-me/billboard-2/billboard2Elvira.png) no-repeat;
  background-size: contain;
  left: 60%;
  bottom: 0%;
}

#about-billboard-2-girl {
  width: 17%;
  height: 46%;
  position: absolute;
  left: 2%;
  top: 21%;
  object-fit: contain;
}

#about-billboard-3 {
  height: 100%;
  max-height: 100%;
  background: url(../images/about-me/billboard-3/billboard.png) no-repeat;
  background-size: contain;
  left: 137%;
  bottom: -2%;
}

#about-billboard-3-girl {
  height: 24%;
  position: absolute;
  top: 49%;
  left: 35%;
  object-fit: contain;
}

#about-billboard-4 {
  position: relative;
  height: 100%;
  max-height: 100%;
  background: url(../images/about-me/billboard-4/billboard.png) no-repeat;
  background-size:contain;
  left: 210%;
  bottom: 100%;
}

#about-billboard-4-balloon {
  height: 21%;
  position: absolute;
  bottom: 57%;
  left: 31%;
}

#about-billboard-5 {
  height: 100%;
  width: 100%;
  max-height: 100%;
  background: url(../images/about-me/billboard-5/billboard5.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 285%;
  bottom: 0%;
}

#about-billboard-5-butterfly {
  position: absolute;
  width: 9%;
  height: 22%;
  bottom: 67%;
  left: 27%;
}

#about-road {
  height: 100%;
  max-height: 30%;
  bottom: -5%;
  position: relative;
}

.road-cones {
  position: absolute;
  height: 100%;
  max-height: 36%;
  left: 28%;
  bottom: 9%;
}

.road-closed {
  position: absolute;
  height: 69%;
  left: 389%;
  bottom: 17%;
}

#grass {
  height: 100%;
  max-height: 7%;
  background: url(../images/about-me/grass.png) repeat-x;
  background-size: contain;
  bottom: 1%;
}
