#about-scene {
  display: block;
  position: relative;
  z-index: -1;
}

#mountains {
  height: 100%;
  background: url(../images/about-me/mountains.png) center/cover;
}

#city-panorama {
  height: 100%;
  background: url(../images/about-me/city-panorama.png) repeat-x;
  background-size: 67em;
  bottom: -29%;
}

#front-city {
  height: 100%;
  background: url(../images/about-me/greenroadCity.png) repeat-x;
  background-size: 58em;
  bottom: -56%;
}

#park {
  height: 100%;
  background: url(../images/about-me/front-road-elements.png) repeat-x;
  background-size: 45em;
  bottom: -56%;
}

#grass {
  height: 100%;
  background: url(../images/about-me/grass.png) repeat-x;
  background-size: 40em;
  bottom: -93%;
}

#about-billboards {
  height: 100%;
  position: relative;
  bottom: -38%;
}

#about-billboard-1 {
  position: relative;
  height: 100%;
  background: url(../images/about-me/billboard-1/billboard.png) no-repeat;
  background-size: 27em;
  left: 102px;
}

#about-billboard-1-arrow {
  position: absolute;
  height: 7%;
  top: 26%;
  left: 11%;
}

#about-billboard-2 {
  position: relative;
  width: 150%;
  height: 100%;
  background: url(../images/about-me/billboard-2/billboard2.png) no-repeat;
  background-size: 37em;
  bottom: -146px;
  left: 526px;
}

#about-billboard-2-girl {
  position: absolute;
  width: 11%;
  height: 31%;
  left: 2%;
  top: 0%;
  object-fit: contain;
}

#about-billboard-3 {
  position: relative;
  width: 135%;
  height: 116%;
  background: url(../images/about-me/billboard-3/billboard.png) no-repeat;
  background-size: 27em;
  bottom: -17%;
  left: 127%;
}

#about-billboard-3-girl {
  position: absolute;
  height: 11%;
  top: 22%;
  left: 22%;
}

#about-billboard-4 {
  position: relative;
  height: 100%;
  background: url(../images/about-me/billboard-4/billboard.png) no-repeat;
  background-size: 26em;
  bottom: -4%;
  left: 185%;
}

#about-billboard-4-balloon {
  position: absolute;
  height: 18%;
  bottom: 60%;
  left: 23%;
}

#about-billboard-5 {
  position: relative;
  width: 100%;
  height: 106%;
  background: url(../images/about-me/billboard-5/billboard5.png) no-repeat;
  background-size: 20em;
  position: absolute;
  left: 247%;
  bottom: 5%;
}

#about-billboard-5-butterfly {
  position: absolute;
  width: 9%;
  height: 22%;
  bottom: 67%;
  left: 24%;
}

#about-road {
  height: 30%;
  bottom: 0%;
}

.road-elements {
  height: 30%;
  bottom: 2%;
}

.road-cones {
  position: absolute;
  height: 36%;
  bottom: 4%;
  left: 28%;
}

.road-closed {
  position: absolute;
  height: 68%;
  bottom: 10%;
  left: 353%;
}
