*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/general/background-1.png);
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.container {
  height: 100%;
  width: 100%;
  max-height: 970px;
  max-width: 1400px;
  min-width: 1024px;
  min-height: 700px;
  margin: auto auto;
  border: 1px solid red;
}

.tv-set {
  width: 100%; /* 1400px */
  height: 100%; /* 970px */
  background: url(/images/general/tv-set-big.png) no-repeat;
  background-size: 90% 100%;
  background-position: center;
  position: relative;
}

.scene-container {  
  width: 100%;/* 1400px */
  height: 90%;/* 940px */
  max-height: 830px;
  max-width: 941px;
  min-width: 320px;
  position: absolute;
  top: 7%;
  left: 6%;
  overflow: hidden;
  border: 3px solid green;
}

.switch-btns {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 1em;
  bottom: 20%;
  right: 10%;
  font-size: 1.2em;
}

.btn-scene {
  padding: 0.5em 1em;
  background-color: rgb(144, 131, 113);
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

.layer {
  width: 100%;
  position: absolute;
}

.skater {
  width: 11em;
  height: 10em;
  position: absolute;
  bottom: 3%;
  left: 50%;
  display: block;
  margin: 0 auto;
  transform: translate(-50%, 0%);
}

.skater.flip-image {
  transform: translate(-50%, 0%) rotateY(180deg);
}

.road-elements {
  height: 30%;
  bottom: 2%;
}
.road-cones {
  position: absolute;
  height: 36%;
  bottom: 12%;
  left: 28%;
}

.road-closed {
  position: absolute;
  height: 68%;
  bottom: 22%;
  left: 337%;
}

@media (orientation: landscape) {
  #layer-1,
  #layer-2,
  #layer3,
  #layer-4,
  #layer-5,
  #layer-6,
  #layer-7,
  #layer-8,
  #mountains,
  #city-panorama,
  #front-city,
  #park,
  #grass {
    background-size: contain;
  }
}
