@media (min-height: 980px) and (min-width: 1400px) {
  .container {
    overflow: visible;
  }

  .tv-stand {
    display: block;
  }
}

@media (max-height: 880px) and (max-width: 1750px) {
  .tv-set {
    background-size: 95% 106%;
  }

  #about-billboard-1-arrow {
    left: 14%;
  }

  #about-billboard-3-girl {
    left: 32%;
  }

  #about-billboard-4-balloon {
    left: 27%;
  }

  #about-billboard-5-butterfly {
    left: 24%;
  }
}

@media (max-height: 771px) and (max-width: 1550px) {
  .tv-set {
    background-size: 82% 106%;
  }

  .scene-container {
    left: 12%;
  }

  #about-billboard-1-arrow {
    left: 12%;
  }

  #about-billboard-2-girl {
    width: 14%;
  }

  #about-billboard-3-girl {
    left: 28%;
  }

  #about-billboard-4-balloon {
    left: 25%;
  }

  #about-billboard-5-butterfly {
    left: 20%;
  }

  .projects-billboards-content {
    left: 0.7%;
  }
}

@media (max-height: 790px) and (max-width: 1450px) {
  .tv-set {
    background-size: 85% 106%;
  }

  .scene-container {
    left: 12%;
  }

  #about-billboard-1-arrow {
    left: 12%;
  }

  #about-billboard-2-girl {
    width: 14%;
  }

  #about-billboard-3-girl {
    left: 28%;
  }

  #about-billboard-4-balloon {
    left: 25%;
  }

  #about-billboard-5-butterfly {
    left: 20%;
  }

  .projects-billboards-content {
    left: 0.7%;
  }
}

@media screen and (max-width: 1390px) {
  .tv-set {
    background: none;
  }
}

@media screen and (max-height: 815px) {
  .tv-set {
    background-size: 88% 106%;
  }

  .scene-container {
    left: 10%;
  }

  #about-billboard-1-arrow {
    left: 12%;
  }

  #about-billboard-2-girl {
    width: 14%;
  }

  #about-billboard-3-girl {
    left: 28%;
  }

  #about-billboard-4-balloon {
    left: 25%;
  }

  #about-billboard-5-butterfly {
    left: 20%;
  }

  .projects-billboards-content {
    left: 0.7%;
  }
}

@media screen and (max-height: 750px) {
  .tv-set {
    background: none;
  }
}

@media (min-width: 280px) and (max-width: 480px) {
  .container {
    padding: 0 15px;
  }

  .scene-container {
    top: 0%;
    left: 0%;
  }
}
