#projects-scene {
  display: none;
  position: absolute;
  z-index: -1;
}

#projects-sky {
  height: 100%;
  background: url(../images/projects/scene/layer-0.png) center/cover;
}

#projects-mountains {
  height: 100%;
  max-height: 25%;
  background: url(../images/projects/scene/layer-1.png) repeat-x;
  background-size: contain;
  bottom: 2%;
}

#projects-trees-far {
  max-height: 18%;
  height: 100%;
  background: url(../images/projects/scene/layer-2.png) repeat-x;
  background-size: contain;
  bottom: 8%;
}

#projects-trees-middle {
  max-height: 22%;
  height: 100%;
  background: url(../images/projects/scene/layer-3.png) repeat-x;
  background-size: contain;
  bottom: 8%;
}

#projects-bushes {
  height: 100%;
  max-height: 22%;
  background: url(../images/projects/scene/layer-4.png) repeat-x;
  background-size: contain;
  bottom: 3%;
}

#projects-cable-lines {
  height: 100%;
  max-height: 40%;
  background: url(../images/projects/scene/layer-5.png) repeat-x;
  background-size: contain;
  bottom: 5%;
}

#projects-trees-near {
  position: absolute;
  width: 104%;
  height: 100%;
  max-height: 36%;
  background: url(../images/projects/scene/layer-6.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#projects-road-cones {
  bottom: 0%;
  left: 40%;
}

#projects-road-closed {
  left: 430%;
}

#projects-grasses {
  max-height: 7%;
  height: 100%;
  background: url(../images/projects/scene/layer-8.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#projects-sky-shadow {
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  background: url(../images/projects/scene/layer-9.png);
}

#projects-billboards {
  height: 51%;
  bottom: 9.5%;
}

#projects-street-lights {
  height: 77%;
  bottom: -10.5%;
}

.projects-billboards-styles {
  height: 100%;
  background: url(../images/projects/billboard.png) no-repeat;
  background-size: contain;
  top: 0%;
}

.projects-street-lights-styles {
  height: 100%;
  width: 44%;
  background: url(../images/projects/scene/layer-7/street-light.png) no-repeat;
  background-size: contain;
}

#projects-billboard-1 {
  left: 70%;
}

#projects-street-light-1 {
  left: 18%;
}

#overlay-billboard {
  position: absolute;
  top: 43%;
  left: 29%;
  width: 283px;
  height: 218px;
  display: none;
  cursor: pointer;
}

.projects-billboards-content {
  position: absolute;
  height: 50%;
  bottom: 42%;
  left: 0.9%;
}

#projects-billboard-2 {
  left: 150%;
}
#projects-street-light-2 {
  left: 103%;
}

#projects-billboard-3 {
  left: 230%;
}

#projects-street-light-3 {
  left: 185%;
}

#projects-billboard-4 {
  left: 300%;
}

#projects-street-light-4 {
  left: 258%;
}

#projects-billboard-5 {
  left: 370%;
}

#projects-street-light-5 {
  left: 328%;
}

#overlay-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#overlay-modal.changeBackground {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 29%;
  max-height: 50%;
  opacity: 0;
  pointer-events: none;
  top: 10%;
  left: 28%;
}

/* .modal-content {  
  position: absolute;
  top: 23%;
  left: 26%;
} */

.modalImgTetris img {
  width: 100%;
  max-width: 25em;
  height: auto;
}

.modalImgTetris {
  position: relative;
  display: none;
}

.modalImgTetris.current {
  display: block;
}

.close,
.btn-prev,
.btn-next {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1.7em;
  color: #fff;
  font-weight: bold;
  z-index: 10000;
  padding: 0.5em;
}

.close {
  top: -14%;
  right: -10%;
  font-size: 1.4em;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.btn-next {
  top: 42%;
  right: -29%;
  cursor: pointer;
}
.btn-prev {
  left: -34%;
  top: 42%;
  cursor: pointer;
}

.link-tetris {
  position: absolute;
  bottom: -12%;
  font-size: 1em;
  color: #fff;
  padding: 0.4em 1em;
  background-color: #1e1e1e;
  text-decoration: none;
  border-radius: 0.3em;
}

.link-demo {
  right: 52%;
}

.link-github {
  left: 54%;
}

.modal.show .modal-content {
  animation: zoom 0.5s ease-in-out;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}
