#projects-scene {
  display: none;
  position: absolute;
  z-index: -1;
}

#projects-sky {
  height: 100%;
  background: url(../images/projects/scene/layer-0.png) center/cover;
}

#projects-mountains {
  height: 100%;
  max-height: 25%;
  background: url(../images/projects/scene/layer-1.png) repeat-x;
  background-size: contain;
  bottom: 2%;
}

#projects-trees-far {
  max-height: 18%;
  height: 100%;
  background: url(../images/projects/scene/layer-2.png) repeat-x;
  background-size: contain;
  bottom: 8%;
}

#projects-trees-middle {
  max-height: 22%;
  height: 100%;
  background: url(../images/projects/scene/layer-3.png) repeat-x;
  background-size: contain;
  bottom: 8%;
}

#projects-bushes {
  height: 100%;
  max-height: 22%;
  background: url(../images/projects/scene/layer-4.png) repeat-x;
  background-size: contain;
  bottom: 3%;
}

#projects-cable-lines {
  height: 100%;
  max-height: 40%;
  background: url(../images/projects/scene/layer-5.png) repeat-x;
  background-size: contain;
  bottom: 5%;
}

#projects-trees-near {
  position: absolute;
  width: 104%;
  height: 100%;
  max-height: 36%;
  background: url(../images/projects/scene/layer-6.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#project-road-cones {
  bottom: 13%;
  left: 40%;
}

#project-road-closed {
  left: 430%;
}

#projects-grasses {
  max-height: 7%;
  height: 100%;
  background: url(../images/projects/scene/layer-8.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#projects-sky-shadow {
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  background: url(../images/projects/scene/layer-9.png);
}

#projects-billboards {
  height: 51%;
  bottom: 8.5%;
}

.projects-billboard {
  height: 100%;
  background: url(../images/projects/billboard.png) no-repeat;
  background-size: 16em;
  top: 1.5em;
}

#projects-billboard-1 {
  left: 70%;
}
#overlay-billboard {
  position: absolute;
  top: 43%;
  left: 29%;
  width: 283px;
  height: 218px;
  display: none;
}
#projects-b1-imgTetris,
#projects-billboard-2-tetris,
#projects-billboard-3-tetris,
#projects-billboard-4-tetris,
#projects-billboard-5-tetris {
  position: absolute;
  height: 46%;
  bottom: 47%;
  left: 0.8%;
}

#projects-billboard-2 {
  left: 150%;
}

#projects-billboard-3 {
  left: 230%;
}

#projects-billboard-4 {
  left: 300%;
}

#projects-billboard-5 {
  left: 370%;
}

.modal {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}
#overlay-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#overlay-modal.changeBackground {
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  position: absolute;
  top: 23%;
  left: 21%;
}

.modalImgTetris img {
  width: 100%;
  max-width: 25em;
  height: auto;
}

.modalImgTetris {
  position: relative;
  display: none;
}

.modalImgTetris.current {
  display: block;
}

.close,
.btn-prev,
.btn-next {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1.7em;
  color: #fff;
  font-weight: bold;
  z-index: 10000;
  padding: 0.5em;
}

.close {
  top: -14%;
  right: -10%;
  font-size: 1.4em;
  background-color: transparent;
  color: #fff;
}

.btn-next {
  top: 42%;
  right: -29%;
}
.btn-prev {
  left: -34%;
  top: 42%;
}

.link-tetris {
  position: absolute;
  bottom: -12%;
  font-size: 1em;
  color: #fff;
  padding: 0.4em 1em;
  background-color: #1e1e1e;
  text-decoration: none;
  border-radius: 0.3em;
}
.link-demo {
  right: 52%;
}
.link-github {
  left: 54%;
}

.modal.show .modal-content {
  animation: zoom 0.5s ease-in-out;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}
