#projects-scene {
  display: none;
}

#layer-0 {
  height: 100%;
  background: url(../images/projects/scene/layer-0.png) center/cover;
}

#layer-1 {
  height: 100%;
  max-height: 25%;
  background: url(../images/projects/scene/layer-1.png) repeat-x;
  background-size: contain;
  bottom: 2%;
}

#layer-2 {
  max-height: 18%;
  height: 100%;
  background: url(../images/projects/scene/layer-2.png) repeat-x;
  background-size: contain;
  bottom: 8%;
}

#layer-3 {
  max-height: 22%;
  height: 100%;
  background: url(../images/projects/scene/layer-3.png) repeat-x;
  background-size: contain;
  bottom: 8%;
}

#layer-4 {
  height: 100%;
  max-height: 22%;
  background: url(../images/projects/scene/layer-4.png) repeat-x;
  background-size: contain;
  bottom: 3%;
}

#layer-5 {
  height: 100%;
  max-height: 40%;
  background: url(../images/projects/scene/layer-5.png) repeat-x;
  background-size: contain;
  bottom: 5%;
}

#layer-6 {
  height: 100%;
  max-height: 36%;
  background: url(../images/projects/scene/layer-6.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#project-road-cones {
  bottom: 6%;
}
#project-road-closed {
  left: 1500px;
}

#layer-8 {
  max-height: 7%;
  height: 100%;
  background: url(../images/projects/scene/layer-8.png) repeat-x;
  background-size: contain;
  bottom: 0%;
}

#layer-9 {
  height: 100%;
  max-height: 100%;
  top: 0;
  left: 0;
  background: url(../images/projects/scene/layer-9.png);
}

@media screen and (max-width: 400px) {
  .scene-container {
    min-width: 21em;
  }
}
